// @use "variables" as *;
@import "../../variables";

.HomePageContainer {
  display: flex;
  flex-direction: column;
  color: $black;
}

.headerCopy {
  font-family: $display;
  font-size: pxtoRem(32);
  letter-spacing: 1.5px;
  padding-top: pxToRem(323);
}

.subHeaderCopy {
  // padding-top: pxToRem(323);
  color: $navy;
}

.dripOnline {
  // width
}
