// @use "variables" as *;
@import "../../variables";

.HomePageContainer {
  display: flex;
  flex-direction: column;
  color: $grey;
  margin-top: $pxToRem(20);
}

.headerCopy {
  font-family: $display;
}

.subHeaderCopy {
  font-family: $body;
}

.dripOnline {
  // width
}
