@import "../../variables";

.WelcomePageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: $black;
}

.copyContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: pxToRem(100) 0 pxToRem(100) 0;
  text-align: center;

  .headerCopy {
    color: $teal;
    font-family: $display;
    font-size: pxToRem(64);
    font-weight: 100;
    letter-spacing: 0.8px;
    padding-right: pxToRem(15);
    width: 90%;
  }

  .subHeaderCopy {
    color: $navy;
    font-size: pxToRem(25);
    font-style: italic;
    font-weight: 300;
    padding-top: pxToRem(10);
  }
}

.imageContainer {
  display: flex;
  padding-bottom: pxToRem(75);
  width: 100%;

  .dripOnline {
    width: 100%;
  }
}
